<div class="professional-container">

    <div class="middle-container">
    
        <div class="experience pt-5 pb-5">
            <div class="circle c-one-two"></div>
            <div class="circle c-three"></div>
            <div class="company-row pt-5">
                <img class="company1-image mr-3" src="{{company1}}" alt="HCL">
                <p>Working as Senior Developer in HCL Technologies Limited from February 2019 – Till Date</p>
            </div>
            <div class="circle c-three"></div>
            <div class="company-row final-row">
                <img class="company2-image ml-3" src="{{company2}}" alt="TCS">
                <p>Worked as System Engineer in Tata Consultancy Services Limited from December 2014 – February 2019</p>
            </div>
        </div>
    </div>
</div>
