<div class="achievements-container">
    <div class="middle-container pt-5 pb-5">
        <div class="awards">
            <div class="circle c-one"></div>
            <div class="circle c-one-two"></div>
            <div class="circle c-three"></div>

            <h2 class="h2-label pt-4"></h2>
            <div class="m-4">
                <img src="{{award1}}" alt="service commitment award">
            </div>
            <div class="circle c-one"></div>
            <div class="circle c-three"></div>
            <div class="m-4">
                <img src="{{award2}}" alt="Best faculty award">
            </div>
            <div class="circle c-two"></div>
            <div class="circle c-one"></div>
            <div class="m-4">
                <img src="{{award3}}" alt="On the spot award">
            </div>
        </div>
    </div>
</div>