<div class="work-container">

    <div class="middle-container pt-5 pb-5">
    
        <div class="works">
            <div class="circle c-one-two"></div>
            <div class="circle c-three"></div>
    
            <h2 class="h2-label pt-4"></h2>
            <div class="work-row"  (click)="navigateTo('experience')">
                <img class="work1-image mr-3" src="{{work1}}" alt="Professional Summary">
                <h3>Professional Summary</h3>
                <p>Click  to see my Professional work experience</p>
            </div>
            <div class="circle c-three"></div>
            <div class="work-row" (click)="navigateTo('achievements')">
                <img class="work2-image" src="{{work2}}" alt="Achievements">
                <h3>Achievements</h3>
                <p>Click to see my Achievements</p>
            </div>
        </div>
        <hr>
        <div class="circle c-one-two"></div>
        <div class="circle c-three"></div>
        <div class="contact-me">
    
            <div class="circle c-one"></div>
            <h3>To Know more about me</h3>
            <p class="pb-5">Download the 
                <a class="btn" href="https://drive.google.com/drive/folders/1Tbob61U2PErMk73PqvGxWD0KQlg_gtxW?usp=sharing" target="_blank"><i class="fas fa-arrow-circle-down"></i> Resume/CV</a>
            </p>
        </div>
    </div>
</div>
