<div class="work-container">

    <div class="middle-container pt-5 pb-5">
    
        <div class="works pt-5">
            <div class="circle c-one"></div>
            <div class="circle c-one-two"></div>
    
            <!-- <h2 class="h2-label pt-4"></h2>
            <div class="work-row"  (click)="navigateTo('experience')">
                <img class="work1-image mr-3" src="{{work1}}" alt="Professional Summary">
                <h3>Professional Summary</h3>
                <p>Click  to see my Professional work experience</p>
            </div> -->
            <div class="company-row pt-5">
                <img class="company2-image ml-3" src="{{company3}}" alt="Accenture">
                <p>Working as Application Development Specialist / Team Lead in Accenture from December 2020 – Till Date</p>
            </div>
            <div class="circle c-one"></div>
            <div class="company-row">
                <img class="company1-image mr-3" src="{{company1}}" alt="HCL">
                <p>Worked as Senior Developer in HCL Technologies Limited from February 2019 – December-2020</p>
            </div>
            <div class="circle c-two"></div>
            <div class="company-row">
                <img class="company2-image ml-3" src="{{company2}}" alt="TCS">
                <p>Worked as System Engineer in Tata Consultancy Services Limited from December 2014 – February 2019</p>
            </div>
            <div class="circle c-one"></div>
            <div class="circle c-one-two"></div>
            <div class="techSkill-row pt-5">
                <img class="techSkill-image mr-3" src="{{techIcons+'technicalSkills.png'}}" alt="Professional Summary">
                <h3>Technical Skills</h3>
                <p>
                    <span><img class="icons-image" src="{{techIcons+'icons8-angular.png'}}" alt="Angular Js"> Angular Js, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-angular.png'}}" alt="Angular"> Angular, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-javascript.png'}}" alt="Javascript"> Javascript, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-typescript.png'}}" alt="Typescript"> Typescript, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-html-5.png'}}" alt="HTML"> HTML 5, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-css3.png'}}" alt="CSS"> CSS 3, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-bootstrap.png'}}" alt="Bootstrap"> Bootstrap, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-ionic.png'}}" alt="Ionic"> Ionic, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-agGrid.png'}}" alt="Ionic"> ag-Grid</span>
                </p>
            </div>
            <div class="circle c-two"></div>
            <div class="techSkill-row pt-5">
                <img class="techSkill-image1 mr-3" src="{{techIcons+'buildDeploy.png'}}" alt="Professional Summary">
                <h3>Deployment or Build Tools</h3>
                <p>
                    <span><img class="icons-image" src="{{techIcons+'icons8-jenkints.png'}}" alt="Jenkins"> Jenkins, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-bitbucket.png'}}" alt="Bitbucket"> Bitbucket</span>
                </p>
            </div>
            <div class="circle c-one"></div>
            <div class="circle c-one-two"></div>
            <div class="techSkill-row pt-5 pb-5">
                <img class="techSkill-image2 mr-3" src="{{techIcons+'versionControl.png'}}" alt="Professional Summary">
                <h3>Version Control Tools</h3>
                <p>
                    <span><img class="icons-image" src="{{techIcons+'icons8-git.png'}}" alt="Git"> Git, </span>
                    <span><img class="icons-image" src="{{techIcons+'icons8-tortoiseSVN.png'}}" alt="Tortoise Svn"> Tortoise Svn</span>
                </p>
            </div>
            <div class="circle c-three"></div>
            <div class="work-row pb-5" (click)="navigateTo('achievements')">
                <img class="work2-image" src="{{work2}}" alt="Achievements">
                <h3>Achievements</h3>
                <p>Click to see my Achievements</p>
            </div>
        </div>
        <hr>
        <div class="circle c-one-two"></div>
        <div class="circle c-three"></div>
        <div class="contact-me pt-5">
    
            <div class="circle c-one"></div>
            <h3>To Know more about me</h3>
            <p>Download the 
                <a class="btn" href="javascript:void(0)" (click)="downloadResume()"><i class="fas fa-arrow-circle-down"></i> Resume/CV</a>
            </p>
        </div>
    </div>
</div>
