<div class="top-container">
    <div class="circle c-one"></div>
    <div class="circle c-one-two"></div>

    <h1>I'm Pratheep</h1>
    <h2 class="caption">a software developer & a technology enthusiast.</h2>

    <div class="circle c-two"></div>
    <div class="circle c-three"></div>

</div>



<div class="middle-container pb-4">
    <div class="profile">

        <img class="profile-img" src="{{profile}}" alt="profile-image">
        <h2 class="h2-label mt-5">Hello.</h2>
        <p>I'm a software developer based in Hyderabad, India. I have a passion for web and mobile application
            development and love to create applications using latest framework's like angular and ionic.</p>
        <div class='browsers'>
            <i class="fab fa-safari fa-2x"></i>
            <i class="fab fa-internet-explorer fa-2x"></i>
            <i class="fab fa-chrome fa-2x"></i>
            <i class="fab fa-edge fa-2x"></i>
            <i class="fab fa-firefox fa-2x"></i>


        </div>
    </div>

    <hr>

    <div class="skills">
        <div class="circle c-one-two"></div>
        <div class="circle c-three"></div>

        <h2 class="h2-label mt-4">How can I help.</h2>
        <div class="skill-row">

            <img class="skill1-image mr-4" src="{{skill1}}" alt="skills">
            <h3>Develop what you want.</h3>
            <p>I like to keep it simple. My goals are to focus on delivering defect free rich internet single page
                application. But, also I follow a best practices and standards for accessibility <i
                    class="fas fa-universal-access"></i>, cross-browser compatibility <i
                    class="fab fa-internet-explorer"></i>, performance <i class="fas fa-tachometer-alt"></i> and
                security <i class="fas fa-shield-alt"></i> of the
                application.</p>
        </div>
        <div class="circle c-three"></div>
        <div class="skill-row">
            <img class="skill2-image" src="{{skill2}}" alt="skills2">
            <h3>Develop what you need.</h3>
            <p>I'm a front end developer, so I know how to create single page applications to run across
                multiple browsers using the latest technologies available. Also, I know how to analyse performance
                bottlenecks to improve overall application performance.</p>
        </div>
    </div>
    <hr>
    <div class="circle c-one-two"></div>
    <div class="circle c-three"></div>
    <div class="contact-me">

        <div class="circle c-one"></div>

        <h2 class="h2-label">Get In Touch</h2>
        <h3>Feel free to get in touch anytime</h3>
        <p>If you have any development project that you want to get started, think you need my help with something or
            just fancy saying hey, then get in touch.</p>
        <a class="btn" href="mailto:pratheepkumar.j@gmail.com" title="pratheepkumar.j@gmail.com"><i
                class="far fa-envelope emial"></i> CONTACT
            ME</a>
        <p>Pratheep Janjanam</p>

    </div>
</div>